In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('preprocessed_college_data.csv')
df.head()

,Private,Top10perc,Fundergrad,Pundergrad,Books,Personal,Terminal,SFRatio,percalumni,Expend,GradRate,YieldRate,TotalCost
0,1,3.178054,7.967627,6.287859,-0.493143,7.696667,-0.491305,-0.491305,2.564949,-0.491305,60,0.460728,9.281823
1,1,2.833213,7.895063,7.113142,0.549980,7.313887,0.551599,0.551599,2.833213,0.551599,56,0.235951,9.837935
2,1,3.135494,6.944087,4.605170,0.093289,7.061334,0.095869,0.095869,3.433987,0.095869,54,0.267191,9.615872
3,1,4.110874,6.236370,4.158883,1.731005,6.775366,1.725950,1.725950,3.637586,1.725950,59,0.331137,9.820704
4,1,2.833213,5.521461,6.768493,0.634925,7.313887,0.636244,0.636244,1.399039,0.636244,15,0.319698,9.365719

In [5]:
from sklearn.model_selection import train_test_split
x = df.drop(columns=['GradRate'])
y = df['GradRate']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

print("X_train shape:", x_train.shape)
print("X_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (620, 12)
X_test shape: (156, 12)
y_train shape: (620,)
y_test shape: (156,)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train_scaled, y_train)
y_pred = model.predict(x_test_scaled)

In [8]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 150.5583437517964
R-squared: 0.4653101512687373